@import "../bower_components/bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

ul, ol {
  margin-bottom: 20px;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

.table>tbody>tr:first-child>td {
  border-top: none;
}

.panel-body p:last-child {
  margin-bottom: 0;
}

.footer {
  font-size: 14px;
  margin-top: 80px;
}

.x-small {
  font-size: 75%;
}

.btn-success.btn-inverted {
  background-color: #fff;
  color: #5cb85c;
  border-color: #4cae4c;
}

.btn-almost-disabled {
  cursor: default;
}

.btn-success.btn-almost-disabled:hover,
.btn-success.btn-almost-disabled:focus,
.btn-success.btn-almost-disabled:active {
  background-color: #fff;
  color: #5cb85c;
  border-color: #4cae4c;
}

.list-inline {
  margin-bottom: 0;
}

.list-inline li {
  margin-bottom: 20px;
}

.panel-heading {
  text-align: center;
}

.panel-body,
.panel-to-import button {
  display: table;
  margin: auto;
}

.page-header span,
.page-header img {
  display: inline-block;
  max-height: 80px;
  vertical-align: middle;
  font-size: 50px;
}

@media screen and (min-width: 992px) {
  .panel-body {
    max-width: 670px;
  }
}
